.command-menu__toggle_button {
	background: transparent;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	border: 2px solid oklch(var(--menu-foreground));
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: inset 0 0 10px -3px oklch(var(--menu-foreground));
	transition: 0.2s ease-in;
}

.command-menu__modal {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: blanchedalmond;
	transition: 0.1s ease;
	backdrop-filter: blur(4px);
	background: oklch(var(--default-1000) / 50%);
	--local-muted-color: oklch(from oklch(var(--default-900)) var(--lighten-3));
	--local-color: oklch(var(--default-900));
	--local-background: oklch(var(--default-50));
	--local-border-color: oklch(from oklch(var(--default-100)) var(--darken-1));

	i {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 18px;
		height: 18px;
	}
}

.command-menu__modal-content,
.command-menu__header {
	border-color: var(--local-border-color);
	border-style: solid;
	border-width: 1px;
}

.command-menu__modal-content {
	width: min(700px, 85%);
	height: min(500px, 85%);
	background: var(--local-background);
	border-radius: 16px;
	color: var(--local-color);
}

.command-menu__header {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 14px 16px;
	border-width: 0 0 1px 0;
	color: var(--local-muted-color);
}

.command-menu__magnifier-icon {
	padding: 0px;
}

.command-menu__search {
	height: 24px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	padding: 0;
	line-height: 0;
	color: var(--local-color);
	min-width: 50px;

	&::placeholder {
		color: var(--local-muted-color);
	}
}

.command-menu__close-button {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	pre {
		cursor: pointer;
		margin: 0;
		background: oklch(from var(--local-muted-color) var(--lighten-2));
		border-radius: 4px;
		color: var(--local-background);
		padding: 4px 6px;
		font-weight: bold;
		font-size: 12px;
		line-height: 12px;

		&:hover {
			transition: 0.2s ease;
			background: oklch(from var(--local-muted-color) var(--lighten-1));
		}
	}
}

.command-menu__results {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 8px 16px 8px 8px;
}

.command-menu__section {
	display: flex;
	flex-direction: column;
}

.command-menu__title {
	font-size: 14px;
	color: var(--local-muted-color);
	padding: 4px 8px;
}

.command-menu__link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	padding: 8px 8px;
	border-radius: 6px;
	cursor: default;

	&:hover {
		background: oklch(from var(--local-muted-color) l c h / 10%);
		transition: 0.1s ease;
	}
}
