#root {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-areas:
		'sidebar header header'
		'sidebar content content';
	grid-template-rows: 32px 1fr;
	grid-template-columns: min-content 1fr;
}

.header {
	grid-area: header;
	background: oklch(var(--primary-400));
}

.sidebar {
	grid-area: sidebar;
	background: oklch(var(--menu));
	padding: 40px 8px;
}

.content {
	grid-area: content;
	background: oklch(var(--default-100));
}
